﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Layout.Master" AutoEventWireup="true" CodeBehind="patientdetails.aspx.cs" Inherits="TransMed.patientdetails" %>
<asp:Content ID="Content1" ContentPlaceHolderID="LayOuthead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="LayOutBody" runat="server">
</asp:Content>
